name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - name: Linux-x86_64
          os: ubuntu-latest
        - name: macOS-aarch64
          os: macos-latest
        - name: macOS-x86_64
          os: macos-13
    steps:
    - name: Build and run lean-smt
      uses: leanprover/lean-action@v1
      with:
        build-args: "Smt Smt.Rat Smt.Real"
        use-github-cache: false
