name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - name: Linux
          os: ubuntu-latest
        - name: macOS
          os: macos-latest
    steps:
    - name: Install Elan
      run: |
        curl https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh -sSf | sh -s -- -y
        echo "$HOME/.elan/bin" >> $GITHUB_PATH
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build lean-smt
      run: |
        lake update
        lake build
        lake build +Smt:dynlib
        lake build +Smt.Rat:dynlib
        lake build +Smt.Real:dynlib
    - name: Test lean-smt
      run: lake run test
