name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - name: Linux-aarch64
          os: ubuntu-22.04-arm
        - name: Linux-x86_64
          os: ubuntu-22.04
        - name: macOS-aarch64
          os: macos-14
        - name: macOS-x86_64
          os: macos-13
        - name: Windows-x86_64
          os: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build and Test Lean-SMT
      uses: leanprover/lean-action@v1
      with:
        build-args: "Smt Smt.Auto Smt.Rat Smt.Real"
        use-github-cache: false
