
name: CI

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: ${{ matrix.shell || 'sh'  }}
    strategy:
      matrix:
        include:
        - name: Linux
          os: ubuntu-latest
    steps:
    - name: Install Elan (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        curl https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh -sSf | sh -s -- -y --default-toolchain leanprover/lean4:nightly
        echo "$HOME/.elan/bin" >> $GITHUB_PATH
    - name: Install cvc5 (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        mkdir -p "$HOME/.local/bin"
        curl https://github.com/cvc5/cvc5/releases/latest/download/cvc5-Linux -L > "$HOME/.local/bin/cvc5"
        chmod +x "$HOME/.local/bin/cvc5"
        echo "$HOME/.local/bin" >> $GITHUB_PATH
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build lean-smt
      run: lake build
    - name: Test lean-smt
      run: lake run test
